* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color_primary: rgb(0, 0, 0);
    --color_letters: rgb(255, 136, 0);
    --color_backs: rgb(49, 49, 49);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 100%;
    height: 50px;
    background-color: black;
    box-shadow: 0 0 10px black;
    padding: 0;
}


.header span:first-child {
    font-size: 30px;
}

.header span:last-child {
    color: var(--color_letters);
    font-size: 15px;
    margin: 0 20px auto;
}

.header > menu {
    display: flex;
}
.menu > li:hover > .submenu,
.submenu > li:hover > .submenu {
  display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: #3276fb;
    min-width: 110%;
}
.submenu li {
    position: relative;
}

.submenu li:hover {
    background: var(--color_backs);
}

body {
    background: var(--color_primary);
    color: white;
    background-image: url(../img/fundo.png);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.profile {
    margin-top: 40px;
    text-align: center;
    box-shadow: 0 0 15px rgb(22, 21, 21);
}

.avatar {
    width: 200px;
    border-radius: 100px;
    margin: 50px auto auto;
    box-shadow: 0 0 20px white;
}

h1 {
    margin: 8px;
}

h2 {
    bottom: 15px;
    height: 100%;
}

.icons {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 5px;
    background: rgba(255, 255, 255, 0.342);
    border-radius: 10px;
}
.icons img {
    width: 50px;
    margin: 5px auto;
}