* {
    margin: 0%;
    padding: 0%;
}
html, body {
    height: 100%;
}

body {
    color: white;
}

.profile {
    margin: 40px;
    text-align: center;
}

.avatar {
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

.social-icon {
    display: flex;
}